@font-face{
  font-family: "Ubuntu";
  src: url('../static/fonts/Ubuntu-Medium.ttf')
}
@font-face{
  font-family: "Ubuntu-Bold";
  src: url('../static/fonts/Ubuntu-Bold.ttf')
}


.conatiner{
  width: 1000px;
  margin: 30px auto 0;
}
.content{
  display: flex;
  box-shadow: 0px 0px 11px 1px rgba(34, 60, 80, 0.1);
  font-family: 'Ubuntu';
  border-radius: 10px;
  height: 350px;
  padding: 0 5px 0 0;
}
.img{
  border-radius: 10px 0 0 10px;
  margin-right: 15px;
  height: 350px;
}
.back{
  content: url('../static/icons/Vector\ 9.svg');
  transform: rotate(270deg);
  height: 20px;
  position: absolute;
  left: 30px;
  top: 30px;

}
.price{
  font-size: 18px;
  font-family: 'Ubuntu';
  margin-bottom: 10px;
}
.price::after{
  content: "\20BD";
  margin-left: 5px;
  font-weight: bold;
}
.address{
  font-size: 18px;
  margin-bottom: 10px;
}
.about{
  font-size: 20px;
}


@media (max-width: 991px){
  .content{
    width: 700px;
    margin: 0 auto;
  }
  .conatiner{
    width: 700px;
  }
}

@media (max-width: 768px){
  .content{
    width: 500px;
    margin: 0 auto;
    display: block;
    height: auto;
    padding-right: 0;
    padding: 10px;
  }
  .conatiner{
    width: 520px;
  }
  .img{
    width: 500px;
    border-radius: 10px;
  }
}
@media (max-width: 480px){
  .content{
    width: 380px;
    margin: 0 auto;
    display: block;
    height: auto;
    padding-right: 0;
    padding: 10px;
  }
  .conatiner{
    width: 400px;
  }
  .img{
    width: 380px;
    border-radius: 10px;
  }
  .back{
    left: 5px;
  }
}
@media (max-width: 360px){
  .content{
    width: 300px;
  }
  .conatiner{
    width: 320px;
  }
  .img{
    width: 300px;
    border-radius: 10px;
  }
}