.cardItem{
  box-shadow: 0px 0px 11px 1px rgba(34, 60, 80, 0.1);
  width: 472px;
  border-radius: 10px;
  height: 134px;
  display: flex;
}
.images{
  width: 156px;
  height: 134px;
  background: #E8E8E8;
  border-radius: 10px 0 0 10px;
  position: relative;
}
.img{
  width: 156px;
  height: 134px;
  border-radius: 10px 0 0 10px;
}
.cardBottom{
  width: 316px;
  height: 134px;
  padding-top: 10px;
  padding-left: 12px;
  padding-right: 13px;
  /* border-radius: 0 0 10px 10px; */
}
.priceBlock{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-right: 13px; */
}
.link{
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.price{
  font-family: 'Ubuntu-Bold';
  font-style: normal;
  font-size: 22px;
  line-height: 25px;
  color: #2C2C2C;
  margin-bottom: 10px;
}
.price::after{
  content: "\20BD";
  margin-left: 5px;
}
.like{
  content: url('../static//icons/IconLike.svg');
  margin-bottom: 5px;
  width: 20px;
  height: 19px;
}
.likeActive{
  content: url('../static/icons/IconLikeActive.svg');
  margin-bottom: 5px;
  width: 20px;
  height: 19px;
}
.like:hover{
  content: url('../static/icons/IconLikeHover.svg');
  margin-bottom: 5px;
  width: 20px;
  height: 19px;
  transform: scaleX(1.1);
  transform: scaleY(1.1);
  /* color:#A4A4A4; */
}
.cardTitle{
  font-family: 'Ubuntu-Bold';
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  margin-bottom: 10px;
  color: #2C2C2C;
}
.cityBlock{
  display: flex;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #8F8F8F;
  margin-top: 40px;
  justify-content: space-between;
}



























.checked{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #2C2C2C;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  position: absolute;
  top: 20px;
  left:50%;
  transform:translate(-50%, -50%);
  padding: 5px 8px;
  z-index: 10000;
}